.miEstilo {
  background-color: #fff;
}

.correrElementos {
  margin-left: auto;
}

.Fondo {
  background-image: url(../assets/fondo.jpg);
}

.Mifoto {
  margin-top: 2%;
  border-radius: 50%;
  width: 184px;
}

.misBotones button {
  margin: 1%;
  margin-top: 2%;
}

#Nombre {
  margin-top: 1%;
}

.miTarjeta {
  background-color: transparent;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  width: 80%;

  margin: auto;
}

#Exp {
  margin-top: 2%;
}

.Experiencia {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  width: 80%;

  margin: auto;

  background-color: transparent;
}

.segundaTabla {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  width: 80%;

  margin: auto;

  background-color: transparent;

  margin-top: 3%;
}

.TablaContact{
  background-color: transparent;
  margin-top: 3%;
  margin: auto;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;



}

#Contact{
  margin-top: 1%;
}

.contactMe {
  background-color: transparent;
  margin-top: 4%;
  margin: auto;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;




}
















